<div class="navbar navbar-expand-sm navbar-light navbar-usedcar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag "usedcar_hub.jpg", alt: "usedcar_hub_logo", width: 100 %>
</a>
<div class="d-flex mx-3">
<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group ">
    <input class="form-control string required mx-1" placeholder="Search any car" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div>
<% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <i class="avatar dropdown-toggle fa-solid fa-user fa-lg align-bottom" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Add a car", new_car_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
        <% else %>
          <li class="nav-item dropdown">
            <i class="avatar dropdown-toggle fa-solid fa-user fa-lg align-bottom" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  </div>
</div>
