<section class="h-100 h-custom">
  <div class="container py-0 h-100 ">
    <div class="row d-flex justify-content-center align-items-center h-100 ">
      <div class="col-lg-8 col-xl-6">
        <div class="card order--conatiner" >
          <div class="card-body p-5 container--color">
            <h2 class="order--message mb-5 mt-3">Thank you for your order <%= current_user.first_name %>!</h2>
            <p class="lead mb-5 p--blue">Order Details</p>

            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1"><strong>Date</strong></p>
                <!--date time-->
                <p><%= Time.now.strftime("%d/%m/%Y %T") %></p>
              </div>
              <div class="col mb-3 text-end"> <!-- Align to the right -->
                <p class="small text-muted mb-1"><strong>Order No.</strong></p>

                <!--add order no. with order id for uniqueness-->
                <p><%= @order.id %></p>
              </div>
            </div>

            <div class="mx-n5 px-5 py-4">
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p><%= "#{@order.car.year} #{@order.car.brand} #{@order.car.model}" %></p>
                </div>
                <div class="col-md-4 col-lg-3 text-end"> <!-- Align to the right -->
                  <% car_price = @order.car.price - (@order.car.price * 0.19) %>
                  <!--use number_to_currency to display nice price-->
                  <p><%= number_to_currency(car_price, precision: 2, unit: "€", separator: ".") %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p class="mb-0">Taxes and Fees</p>
                </div>
                <div class="col-md-4 col-lg-3 text-end"> <!-- Align to the right -->
                <!--use number_to_currency to display nice price-->
                  <% tax = @order.car.price * 0.19 %>
                  <p class="mb-0"><%= number_to_currency(tax, precision: 2, unit: "€", separator: ".") %></p>
                </div>
              </div>
            </div>

            <div class="row my-4">
              <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9 text-end"> <!-- Align to the right -->
                <h5 class="mb-0 p--blue"><strong>Total</strong></h5>
                <% total = (@order.car.price)  %>
                <!--use number_to_currency to display nice price-->
                <p class="lead mb-0" ><strong><%= number_to_currency(total, precision: 2, unit: "€", separator: ".") %></strong></p>
              </div>
            </div>

            <p class="lead mb-4 pb-2 p--blue">Order Status</p>

            <div class="row">
              <div class="col-lg-12">
                <div class="horizontal-timeline" data-controller="delayed-display">
                  <ul class="list-inline items d-flex justify-content-between">
                    <li class="list-inline-item items-list">
                      <!--Order status using stimulus-->
                      <p class="py-0 px-2 rounded p--status " data-delayed-display-target="orderStatus" >Your order is being processed <i class="fa-solid fa-bars-progress fa-spin" style="color: #ffffff;"></i></p>
                    </li>
                  </ul>
                  <!--link to dashboard(app/views/pages/dashboard.html.erb)-->
                  <!--<%= link_to "Your order", dashboard_path %>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
