
  <h2>Order History</h2>
  <table class="table mb-5">
    <thead class="thead-light">
      <tr>
        <th scope="col">Order no.</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Order Date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <!--initialize total_order_price-->
      <% total_order_price = 0 %>
      <% @orders.each do |order| %>
        <tr>
          <th scope="row"><%= order.id %></th>
          <td><%= "#{order.car.year} #{order.car.model}" %></td>
          <td><%= number_to_currency(order.car.price, precision: 2, unit: "€", separator: ".") %></td>
          <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
          <!--If above 40 seconds has passed from the time of order, status will change to "For delivery." -->
          <!--This is for presentation purposes only -->
          <% if Time.now - order.created_at > 40 %>
            <td>For delivery</td>
          <% else %>
            <td>Processing</td>
          <% end %>
        </tr>
        <!--Add the price of each order to total_order_price-->
        <% total_order_price += order.car.price %>
      <% end %>
      <!-- Display the total price row -->
      <tr>
        <!-- colspan="2" helps the total price allign with the "Price column" -->
        <th colspan="2" class="text-right">Total:</th>
        <td><%= number_to_currency(total_order_price, precision: 2, unit: "€", separator: ".") %></td>
      </tr>
    </tbody>
  </table>

  <h2>Sell History</h2>
  <table class="table mb-5">
    <thead class="thead-light">
      <tr>
        <th scope="col">Order no.</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Order Date</th>
      </tr>
    </thead>
    <tbody>
      <!--initialize total_order_price-->
      <% total_order_price = 0 %>
      <% @cars.each do |car| %>
        <% if car.sold == true %>
          <tr>
              <th scope="row"><%= car.id%></th>
              <td><%= "#{car.year} #{car.model}" %></td>
              <td><%= number_to_currency(car.price, precision: 2, unit: "€", separator: ".") %></td>
              <td><%= car.created_at.strftime("%d/%m/%Y")%></td>
          </tr>
        <% total_order_price += car.price %>
        <% end %>
      <% end %>
      <tr>
        <!-- colspan="2" helps the total price allign with the "Price column" -->
        <th colspan="2" class="text-right">Total:</th>
        <td><%= number_to_currency(total_order_price, precision: 2, unit: "€", separator: ".") %></td>
      </tr>
    </tbody>
  </table>

  <h2>My Cars</h2>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Car no.</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Post Date</th>
      </tr>
    </thead>
    <tbody>
      <% @cars.each do |car| %>
        <% if car.sold == false %>
          <tr>
            <th scope="row"><%= car.id %></th>
            <td><%= "#{car.year} #{car.model}" %></td>
            <td><%= number_to_currency(car.price, precision: 2, unit: "€", separator: ".") %></td>
            <td><%= car.created_at.strftime("%d/%m/%Y")%></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>
