
<p>Current_user: <%= current_user.email %></p>

<h2>Order History</h2>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Order no.</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Order Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <th scope="row"><%= order.id %></th>
      <td><%= "#{order.car.year} #{order.car.model}" %></td>
      <td><%= number_to_currency(order.car.price, precision: 2, unit: "€", separator: ".") %></td>
      <td><%= order.created_at %></td>
      <% if Time.now - order.created_at > 40 %>
        <td>Delivered</td>
      <% else %>
        <td>Processing</td>
      <% end %>

    </tr>
    <% end %>
  </tbody>
</table>
