<div class="banner mt-2">
  <div class="banner-title"><h1>UsedCar Hub</h1></div>
</div>

<!-- Car Cards Section -->
<div class="container">
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-md-4">
        <div class="card mt-4 car-card">
          <%= link_to car_path(car.id) do %> <!-- Wrap the entire card content in a link -->
            <% if car.photos.present? %>
              <%= cl_image_tag car.photos.first.key, class: "card-img-top", alt: "Car Photo" %>
            <% else %>
              <!-- Use the default photo when no photos are available -->
              <%= image_tag "usedcar_hub.jpg", class: "card-img-top", alt: "Default Car Photo" %>
            <% end %>
            <div class="card-body card-content"> <!-- Add a class to the card content -->
              <h4 class="card-title"><strong><%= car.brand %></strong></h4>
              <h5 class="card-text"><%= "#{car.year} #{car.model}" %></h5>
              <p class="card-text" id="price--num">€<%= humanized_money car.price %></p>
              <p class="delete-edit-btn">
                <% if user_signed_in? && current_user == car.user %>
                  <%= link_to "Edit", edit_car_path(car.id), class: "btn btn-outline-info link-btn m-1" %>
                  <%= link_to "Delete", car_path(car.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger link-btn" %>
                <% end %>
              </p>
            </div>
          <% end %> <!-- Close the link here -->
        </div>
      </div>
    <% end %>
  </div>
</div>
