<div class="container">
  <h1>Add a car</h1>

  <%= simple_form_for(@car) do |f| %>
    <% brand_names = %w[Volkswagen BMW Mercedes Audi Porsche Tesla Ferrari] %>
    <%= f.input :brand, collection: brand_names %>
    <%= f.input :year %>
    <%= f.input :model %>
    <%= f.input :price_cents %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
