<div class="container">
  <div class="row justify-content-center">

    <!-- Car Image Carousel Column (Left) -->
    <div class="col-md-9 my-1">
      <div id="carImageCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- Loop through car photos and create carousel items -->
          <% img_urls = JSON.parse(@car.img_url) %>
          <% img_urls.each_with_index do |url, index| %>
            <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
              <!-- Display car image-->
              <img class="carousel-image" src="<%= url %>" alt="car photo">
            </div>
          <% end %>
        </div>

        <!-- Carousel navigation button (Previous) -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carImageCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <!-- Carousel navigation button (Next) -->
        <button class="carousel-control-next" type="button" data-bs-target="#carImageCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Car Description -->
      <div class="mt-3">
        <p class="card--description-text">
          <h5 class="custom-h5">Description:</h5>
        </p>
        <p class="card--description-text mb-0">
          <%= @car.description %>
        </p>
      </div>
    </div>

    <!-- Car Details Column (Right) -->
    <div class="col-md-3 my-1 border-0 text-center">
      <div class="card card--container square-content  box-shadow car-info-plate">

        <!-- Car Details Content -->
        <div class="card-body mx-5 mt-4">

          <!-- Car Title (Brand) -->
          <h2 class="show-card-title mb-3">
          <!-- Display car brand -->
          <%= @car.brand %>
          </h2>

          <!-- Car Brand -->
          <div class="show-card-text mb-0">
            <strong>Model</strong>
            <p><%= @car.model %></p>

          <!-- Car Year -->
            <strong>Year</strong>
            <p><%= @car.year %></p>
          </div>

          <!-- Car Price -->
          <p class="show-card--price-text mb-4">
          <strong><span id="price--num">€<%= humanized_money @car.price %></span></strong>
          </p>

          <!-- Only show the buy button if the user is not the car owner -->
          <% if user_signed_in? && current_user != @car.user %>
            <%= simple_form_for [@car, @order] do |f| %>
            <%= f.submit "Buy Now", class: "btn btn-primary" %>
            <% end %>
          <% else %>
            <p class="delete-edit-btn">
              <%= link_to "Edit", edit_car_path(@car), class: "btn btn-outline-info link-btn m-1" %>
              <%= link_to "Delete", car_path(@car), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger link-btn" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Split text between car info and car cards -->
<div class="col-md-12 text-center my-0 mb-0 mt-5">
  <h3 class="custom-h3">Cars in inventory:</h3>
</div>

<!-- Car Cards Section (same code from index but modified the .each method to display 3 cards) -->
<div class="container">
  <div class="row">
    <% @cars.last(3).each do |car| %>
      <div class="col-md-4">
        <div class="card mt-4 car-card">
          <%= link_to car_path(car.id) do %> <!-- Wrap the entire card content in a link -->
            <% img_urls = JSON.parse(car.img_url) %>
            <% if car.img_url.present? %>
              <img class="card-img-top" src="<%= img_urls.first %>" alt="car photo">
            <% else %>
              <!-- Use the default photo when no photos are available -->
              <%= image_tag "usedcar_hub.jpg", class: "card-img-top", alt: "Default Car Photo" %>
            <% end %>
            <div class="card-body card-content"> <!-- Add a class to the card content -->
              <h4 class="card-title"><strong><%= car.brand %></strong></h4>
              <h5 class="card-text"><%= "#{car.year} #{car.model}" %></h5>
              <p class="card-text" id="price--num">€<%= humanized_money car.price %></p>
              <p class="delete-edit-btn">
                <% if user_signed_in? && current_user == car.user %>
                  <%= link_to "Edit", edit_car_path(car.id), class: "btn btn-outline-info link-btn m-1" %>
                  <%= link_to "Delete", car_path(car.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger link-btn" %>
                <% end %>
              </p>
            </div>
          <% end %> <!-- Close the link here -->
        </div>
      </div>
    <% end %>
  </div>
</div>
