<div class="container">
  <div class="row justify-content-center">

    <!-- Car Image Carousel Column (Left) -->
    <div class="col-md-6 my-5">
      <div id="carImageCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          <!-- Loop through car photos and create carousel items -->
          <% @car.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
              <!-- Display car image using Cloudinary's 'cl_image_tag' helper -->
              <%= cl_image_tag photo.key, class: "carousel-image" %>

              <!-- Car Description -->
          <p class="card-text mt-3">
            <strong>Description:</strong> <%= @car.description %>
          </p>

            </div>
          <% end %>
        </div>

        <!-- Carousel navigation button (Previous) -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carImageCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <!-- Carousel navigation button (Next) -->
        <button class="carousel-control-next" type="button" data-bs-target="#carImageCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- Car Details Column (Right) -->
    <div class="col-md-6 my-5 border-0">
      <div class="card card--container">

        <!-- Car Details Content -->
        <div class="card-body mx-5">

          <!-- Car Title (Brand and Model side by side) -->
          <h2 class="card-title">
            <!-- Display car brand and model -->
            <%= @car.brand %> - <%= @car.model %>
          </h2>

          <!-- Car Price -->
          <p class="card-text">
            Price:<strong id="price--num"> €<%= humanized_money @car.price %></strong>
          </p>

          <!-- Car Brand -->
          <p class="card-text">
            <strong>Brand:</strong> <%= @car.brand %>
          </p>

          <!-- Car Year -->
          <p class="card-text">
            <strong>Year:</strong> <%= @car.year %>
          </p>

          <!-- Buy button (not functional for now) -->
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
  </div>
</div>
